/* Containers */

	.signup_container {
		margin-left: auto;
		margin-right: auto;
	}

	.signup_container.\31 25\25 {
		width: 100%;
		max-width: 1750px;
		min-width: 1400px;
	}

	.signup_container.\37 5\25 {
		width: 1050px;
	}

	.signup_container.\35 0\25 {
		width: 700px;
	}

	.signup_container.\32 5\25 {
		width: 350px;
	}

	.signup_container {
		width: 1400px;
	}

	@media screen and (max-width: 1680px) {

		.signup_container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.signup_container.\37 5\25 {
			width: 900px;
		}

		.signup_container.\35 0\25 {
			width: 600px;
		}

		.signup_container.\32 5\25 {
			width: 300px;
		}

		.signup_container {
			width: 1200px;
		}

	}

	@media screen and (max-width: 1280px) {

		.signup_container.\31 25\25 {
			width: 100%;
			max-width: 1200px;
			min-width: 960px;
		}

		.signup_container.\37 5\25 {
			width: 720px;
		}

		.signup_container.\35 0\25 {
			width: 480px;
		}

		.signup_container.\32 5\25 {
			width: 240px;
		}

		.signup_container {
			width: 960px;
		}

	}

	@media screen and (max-width: 980px) {

		.signup_container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.signup_container.\37 5\25 {
			width: 71.25%;
		}

		.signup_container.\35 0\25 {
			width: 47.5%;
		}

		.signup_container.\32 5\25 {
			width: 23.75%;
		}

		.signup_container {
			width: 95%;
		}

	}

	@media screen and (max-width: 840px) {

		.signup_container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.signup_container.\37 5\25 {
			width: 71.25%;
		}

		.signup_container.\35 0\25 {
			width: 47.5%;
		}

		.signup_container.\32 5\25 {
			width: 23.75%;
		}

		.signup_container {
			width: 95% !important;
		}

	}

	@media screen and (max-width: 736px) {

		.signup_container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.signup_container.\37 5\25 {
			width: 75%;
		}

		.signup_container.\35 0\25 {
			width: 50%;
		}

		.signup_container.\32 5\25 {
			width: 25%;
		}

		.signup_container {
			width: 100% !important;
		}

	}

/* List */
ul.buttons {
		cursor: default;
	}

		ul.buttons:last-child {
			margin-bottom: 0;
		}

		ul.buttons li {
			display: inline-block;
			padding: 0 0 0 1.5em;
		}

			ul.buttons li:first-child {
				padding: 0;
			}

		ul.buttons.vertical li {
			display: block;
			padding: 1.5em 0 0 0;
		}

			ul.buttons.vertical li:first-child {
				padding: 0;
			}

/* Basic */

	body {
		background: #f3f6fa;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #7c8081;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 2em;
	}

	header.special {
		margin-bottom: 5em;
		padding-top: 7em;
		position: relative;
		text-align: center;
	}

		header.special:before, header.special:after {
			border-bottom: solid 1.5px;
			border-top: solid 1.5px;
			content: '';
			height: 7px;
			opacity: 0.1;
			position: absolute;
			top: 1.75em;
			width: 43%;
		}

		header.special:before {
			left: 0;
		}

		header.special:after {
			right: 0;
		}

		header.special h2 {
			margin-bottom: 0;
		}

		header.special h2 + p {
			margin-bottom: 0;
			padding-top: 1.5em;
		}

		header.special .icon {
			cursor: default;
			height: 7em;
			left: 0;
			position: absolute;
			text-align: center;
			top: 1em;
			width: 100%;
		}

			header.special .icon:before {
				font-size: 3.5em;
				opacity: 0.35;
			}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		-moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: none;
		border: solid 1px rgba(124, 128, 129, 0.2);
		color: inherit;
		display: block;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
		outline: 0;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border-color: #83d3c9;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {
		color: rgba(124, 128, 129, 0.5) !important;
	}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		background: none;
		border: solid 1px;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 900;
		letter-spacing: 2px;
		min-width: 18em;
		padding: 0 0.75em;
		line-height: 3.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		.button:hover {
			background: rgba(188, 202, 206, 0.15);
			border-color: inherit;
		}

		input[type="button"].special,
		input[type="submit"].special,
		input[type="reset"].special,
		.button.special {
			background: #4d0c46;
			border-color: #4d0c46;
			color: #fff !important;
		}

			input[type="button"].special:hover,
			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			.button.special:hover {
				background: #99188c !important;
				border-color: #99188c !important;
			}

		input[type="button"].fit,
		input[type="submit"].fit,
		input[type="reset"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="button"].small,
		input[type="submit"].small,
		input[type="reset"].small,
		.button.small {
			font-size: 0.7em;
			min-width: 14em;
			padding: 0.5em 0;
		}

/* Wrapper */

	.wrapper {
		margin-bottom: 5em;
		padding: 5em;
	}

		.wrapper.style1 {
			padding: 0;
		}

		.wrapper.style2 {
			background-color: #83d3c9;
			background-image: url("images/light-bl.svg"), url("images/light-br.svg");
			background-position: bottom left, bottom right;
			background-repeat: no-repeat, no-repeat;
			background-size: 25em, 25em;
			color: #fff;
		}

			.wrapper.style2 .button:hover {
				background: rgba(255, 255, 255, 0.15) !important;
			}

			.wrapper.style2 .button.special {
				background: #fff;
				border-color: #fff;
				color: #83d3c9 !important;
			}

				.wrapper.style2 .button.special:hover {
					border-color: inherit !important;
					color: #fff !important;
				}

		.wrapper.style3 {
			background: #fff;
			color: inherit;
		}

		.wrapper.style4 {
			background: #fff;
			color: inherit;
			padding: 4em;
		}

/* Main */

	#main {
		background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");
		background-position: top left, top right, bottom left, bottom right;
		background-repeat: no-repeat;
		background-size: 25em;
		padding: 7em 0;
	}

		#main > :last-child {
			margin-bottom: 0;
		}

		#main .sidebar section {
			border-top: solid 1px rgba(124, 128, 129, 0.2);
			margin: 3em 0 0 0;
			padding: 3em 0 0 0;
		}

			#main .sidebar section:first-child {
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
			}

	body.index #main {
		padding-top: 5em;
	}

/* Sign Up*/
	.signup-start {
		margin-bottom: 5px;
	}

	.signup-mid {
		margin-top: 15px;
		margin-bottom: 5px;
	}

/* CTA */

	#cta {
		background-attachment: scroll, scroll, scroll, fixed;
		background-color: #645862;
		background-image: url("images/light-tl.svg"), url("images/light-tr.svg"), url("images/overlay.png"), url("../../images/banner.jpg");
		background-position: top left, top right, top left, bottom center;
		background-repeat: no-repeat, no-repeat, repeat, no-repeat;
		background-size: 25em, 25em, auto, cover;
		color: #fff;
		padding: 5em;
		text-align: center;
	}

		#cta header {
			margin-bottom: 2em;
		}

/* Footer */

	#footer {
		background: #E8EEF4;
		color: #7c8081;
		padding: 5em 5em 10em 5em;
		text-align: center;
	}

		#footer .copyright {
			font-size: 0.8em;
			line-height: 1em;
		}

			#footer .copyright a {
				color: inherit;
			}

			#footer .copyright li {
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;
				border-left: dotted 1px;
			}

				#footer .copyright li:first-child {
					margin: 0;
					padding: 0;
					border: 0;
				}

/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 14pt;
			}

		/* Section/Article */

			header.special {
				padding-top: 5.5em;
				margin-bottom: 4em;
			}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
				letter-spacing: 0.025em;
				line-height: 1.65em;
			}

			h1, h2, h3, h4, h5, h6 {
				line-height: 1.5em;
			}

		/* Section/Article */

			header.major {
				padding-bottom: 1.5em;
			}

			footer.major {
				padding-top: 2em;
			}

		/* Wrapper */

			.wrapper {
				margin-bottom: 4em;
				padding: 4em 3em;
			}

				.wrapper.style4 {
					padding: 3em;
				}

		/* Header */

			#header nav ul li {
				margin-left: 1em;
			}

		/* Banner */

			#banner {
				background-attachment: scroll;
			}

		/* CTA */

			#cta {
				padding: 4em;
				background-attachment: scroll;
			}

		/* Footer */

			#footer {
				padding: 4em;
			}

	}

/* Narrow */

	@media screen and (max-width: 980px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
				letter-spacing: 0.025em;
				line-height: 1.5em;
			}

		/* Section/Article */

			header br {
				display: none;
			}

			header.major {
				padding-bottom: 1em;
			}

			header.special {
				padding-left: 2.5em;
				padding-right: 2.5em;
			}

			footer.major {
				padding-top: 1.5em;
			}

		/* Wrapper */

			.wrapper {
				margin-bottom: 3em;
				padding: 3em 2.5em;
			}

				.wrapper.special br {
					display: none;
				}

				.wrapper.style1 {
					padding: 0 2.5em;
				}

				.wrapper.style2 {
					background-size: 15em;
				}

				.wrapper.style4 {
					padding: 2.5em;
				}

		/* Banner */

			#banner {
				background-size: 15em, 15em, auto, cover;
			}

		/* Main */

			#main {
				background-size: 15em;
			}

		/* CTA */

			#cta {
				background-size: 15em, 15em, auto, cover;
				padding: 3em;
			}

	}